/* Import */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

/* Common CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.max-width {
    width: 90%;
    max-width: 1150px;
    margin: auto;
}

span {
    display: inline-block;
}

.fa-facebook-square {
    color: #3B5998;
}

.fa-twitter-square {
    color: #1DA1F2;
}

.fa-instagram-square {
    color: #262626;
}

.fa-linkedin {
    color: #0077B5;
}

.fa-caret-down {
    margin-left: 0.5em;
}

.title,
.subtitle {
    text-align: center;
}

.subtitle {
    font-size: 0.9em;
    font-weight: 700;
    color: grey;
    margin: 1em 0;
}

/* Header Top */

.header-top {
    background: #F3F6F9;
    color: #7A7A7A;
    font-size: 1rem;
    padding: 5px 0;
}

.header-top .max-width {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icon-text {
    font-size: 0.85em;
    font-weight: 600;
    margin-right: 1.5rem;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icons i {
    font-size: 1.2em;
}

.logo img {
    max-width: 200px;
}

/* Header Bottom */

.header-bottom {
    padding: 15px 0;
}

.header-bottom .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    display: flex;
}

.info .phone,
.info .email,
.info .address {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
}

.info .email {
    margin: 0;
}

.info .phone i {
    transform: rotateZ(-45deg);
}

.info i {
    margin-right: 0.5em;
    font-size: 1.3em;
    color: #399BFF;
}

.info .info-text h6 {
    font-size: 0.9em;
}

.info .info-text p {
    font-size: 0.8em;
    font-weight: 500;
}

/* Navigation */

#bars {
    font-size: 1.8em;
    cursor: pointer;
    color: #fff;
    padding: 0.4em 0.5em;
    border: 0;
    border-radius: 50%;
    display: none;
}

#bars:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#navClose {
    position: absolute;
    color: #fff;
    top: 1em;
    right: 1em;
    font-size: 1.5em;
    display: none;
}

nav {
    background: #399BFF;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: #fff;
    font-size: 0.85em;
    font-weight: 800;
}

nav .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav #menu {
    display: flex;
    transition: all 0.5s;
}

.search {
    background: #2290FF;
    display: flex;
    align-items: center;
    position: relative;
    width: 240px;
    padding: 10px 0;
}

.search input {
    width: 90%;
    padding: 15px 0 15px 10px;
    background: none;
    border: 0;
    outline: none;
    font-size: 0.8rem;
    color: #fff;
    font-weight: 700;
}

.search .fa-xmark {
    color: #111;
    display: none;
}

.search input::placeholder {
    color: #b6dbff;
    font-weight: 700;
}

.search i {
    font-size: 0.75em;
    padding: 10px;
    cursor: pointer;
    color: #fff;
}

nav #menu li:not(:last-child) a {
    margin-right: 2em;
}

nav #menu li:nth-child(3) {
    position: relative;
}

#pageMenu {
    position: relative;
}

#submenu {
    background: #262F36;
    position: absolute;
    left: 0;
    width: 200px;
    top: 30px;
    transform: translateY(100px);
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
    z-index: 999;
}

#submenu:hover {
    opacity: 1;
}

#submenu li a {
    display: inline-block;
    width: 100%;
    padding: 15px 0 15px 25px;
    transition: 0.2s;
}

#submenu li a:hover {
    background: #2290FF;
}

/* Hero Section */

#hero {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 85vh;
    background: url(../images/hero-bg.jpg) no-repeat;
    background-size: 70%;
    background-position: right;
    position: relative;
    font-size: 1rem;
}

.hero-text {
    font-size: 1em;
    width: 40%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero-title {
    display: inline-block;
    font-size: 2.6em;
    font-weight: 600;
    background-color: #2290FF;
    color: #fff;
}

.hero-text h2 {
    background-color: #222 !important;
}

.hero-sub-title {
    font-size: 1.4em;
    font-weight: 700;
    margin-top: 1em;
    color: #1DA1F2;
}

.hero-description {
    font-size: 1em;
    font-weight: 600;
    margin-top: 0.5em;
    color: rgb(99, 93, 93);
}

.hero-buttons {
    margin-top: 1.5em;
}

.hero-button {
    display: inline-block;
    font-size: 0.8em;
    font-weight: 700;
    background: #399BFF;
    color: #fff;
    padding: 1.4em 2.8em;
    border: 0;
    outline: none;
    border-radius: 35px;
    text-transform: uppercase;
    transition: 0.5s;
}

.hero-button:hover {
    background: #333;
    color: #fff;
    transform: scale(0.9);
}

.hero-button:last-child {
    margin-left: 0.8em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #222;
}

.hero-button:last-child:hover {
    background: #399BFF;
    color: #fff;
}

/* Appoinment Section */

#appoinment .max-width {
    transform: translateY(-60px);
}

#appoinment .max-width a {
    padding: 1em 2em;
    background: #fff;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
    color: #111;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.appoinment-input-area {
    font-size: 1rem;
    background-color: #fff;
    text-align: center;
    padding: 2em 0;
    position: relative;
}

.appoinment-input-area input {
    font-size: 1em;
    width: 18%;
    margin: 0 0.2em;
    padding: 1em 0 1em 1em;
    font-weight: 600;
    outline: none;
    border: 1.8px solid #80808099;
    border-radius: 4px;
    margin: 0.5em 0;
}

.appoinment-input-area input::placeholder {
    font-size: 0.9em;
    font-weight: 700;
    color: #80808099;
}

.appoinment-input-area input[type="submit"] {
    font-size: 0.9em;
    font-weight: 700;
    color: #fff;
    background: #399BFF;
    padding: 1em 0 1em 0;
    border: 0;
    transition: 0.4s;
    cursor: pointer;
}

.appoinment-input-area input[type="submit"]:hover {
    background: #0f62b4;
}

.appoinment-input-area input:focus {
    border: 2px solid #6b666699;
}

.appoinment-info {
    color: #fff;
    display: flex;
}

.open-hours-in-appoinment,
.location-in-appoinment,
.covidcare-in-appoinment {
    background: #399BFF;
    display: flex;
    width: 33.33%;
    padding: 3em 2.5em;
    height: auto;
}

.appoinment-title {
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: 1em;
}

.location-in-appoinment {
    background: #2290FF;
}

.open-hours-in-appoinment .first-clock,
.location-in-appoinment .fa-location-dot,
.covidcare-in-appoinment .fa-virus-covid {
    margin-right: 1em;
    margin-top: 0.1em;
    font-size: 2em;
}

.appoinment-description {
    font-size: 0.8em;
    font-weight: 600;
}

.open-appoinment,
.close-appoinment {
    display: flex;
    font-size: 0.6em;
    justify-content: start;
    margin: 1em 0;
}

.open-date,
.open-time,
.close-date,
.close-time {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-date i,
.open-time i,
.close-date i,
.close-time i {
    margin-right: 0.5em;
}

.open-date,
.close-date {
    margin-right: 1em;
}

/* Specialize Section */

#specialize .specialize-cards {
    display: flex;
}

#specialize .specialize-cards .specialize-card {
    padding: 2.5em;
    border: 1px solid rgba(139, 130, 130, 0.2);
    margin-top: 2em;
}

#specialize .specialize-cards .specialize-card:first-child,
#specialize .specialize-cards .specialize-card:nth-child(2) {
    border-right: 0;
}

#specialize .specialize-cards .specialize-card .category {
    display: inline-block;
    font-size: 0.85em;
    font-weight: 600;
    color: gray;
}

#specialize .specialize-cards .specialize-card .specialize-card-title {
    font-size: 1.3em;
    font-weight: 800;
    margin: 0.5em 0 1em 0;
}

#specialize .specialize-cards .specialize-card:not(:nth-child(2)) .specialize-card-title,
#specialize .specialize-cards .specialize-card:not(:nth-child(2)) i {
    cursor: pointer;
    color: #2290FF;
}

#specialize .specialize-cards .specialize-card:not(:nth-child(2)) i:hover {
    cursor: pointer;
    color: #111;
}

#specialize .specialize-cards .specialize-card:nth-child(2) i:hover {
    color: #2290FF;
}

#specialize .specialize-cards .specialize-card .specialize-card-description {
    font-size: 0.9em;
    font-weight: 600;
    color: grey;
    margin-bottom: 2em;
}

/* Call Us Emergency */

#call-us-emergency {
    margin: 5em 0;
}


#call-us-emergency .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(45deg, rgb(27, 141, 255), rgb(8, 98, 187));
    color: #fff;
    padding: 3.5em;
}

.emergency-info {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.emergency-info i {
    margin-right: 1em;
    font-size: 3em;
}

.emergency-title {
    font-size: 1.5em;
}

.emergency-description {
    font-size: 0.9em;
    font-weight: 700;
    color: #eee;
}

.emergency-button {
    font-size: 0.9em;
    font-weight: 700;
    padding: 1em 2.5em;
    border: 0;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.emergency-button:hover {
    background: #222;
    transform: scale(0.95);
    color: #fff;
}

.emergency-button i {
    margin-right: 0.8em;
}

/* Department Section */

.department-cards {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 4em 0;
}

.department-card {
    width: 24%;
}

.department-card-image {
    width: 100%;
    height: 15em;
    background: url(../images/card-image1.jpg);
    background-size: cover;
    background-position: right top;
}

.department-card:nth-child(2) .department-card-image {
    background: url(../images/card-image2.jpg);
}

.department-card:nth-child(3) .department-card-image {
    background: url(../images/card-image3.jpg);
}

.department-card:nth-child(4) .department-card-image {
    background: url(../images/card-image4.jpg);
}

.department-card-title {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 0.6em;
}

.department-card-subtitle {
    font-size: 0.9em;
    font-weight: 700;
    margin: 0.2em 0 1em 0;
    color: #2290FF;
}

.department-card-description {
    font-size: 0.9em;
    font-weight: 600;
    color: grey;
}

.department-cards .fa-chevron-left,
.department-cards .fa-chevron-right {
    font-size: 1em;
    font-weight: 800;
    padding: 0.5em 0.65em;
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    background: #0f62b4;
    color: #fff;
    border: 0;
    border-radius: 50%;
    transition: 0.2s;
}

.department-cards .fa-chevron-left:hover,
.department-cards .fa-chevron-right:hover {
    background: #111;
}

.department-cards .fa-chevron-right {
    right: 1%;
    left: auto;
}


.hr {
    max-width: 1150px;
    margin: 10em auto 5em auto;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Testimonial Section */

.testimonial-cards {
    display: flex;
    justify-content: space-between;
    margin: 3em 0;
}

.testimonial-card {
    width: 32.8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 3em 2.5em;
}

.testimonial-card img {
    width: 4.5em;
    height: 4.5em;
    border: 0;
    border-radius: 50%;
}

.testimonial-card .testimonial-card-description {
    font-size: 0.85em;
    font-weight: 500;
    color: grey;
    text-align: center;
    margin: 3em 0 2em 0;
}

.testimonial-card .name {
    font-size: 1.1em;
    font-weight: 600;
}

.testimonial-card .designation {
    font-size: 0.8em;
    font-weight: 700;
    color: gray;
}

/* Get Started Section */

#get-started {
    font-size: 1rem;
    background: linear-gradient(45deg, rgb(27, 141, 255), rgb(8, 98, 187));
    width: 100%;
    color: #fff;
}

.get-started-content {
    background-image: url(../images/card-image4.jpg);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: right;
}

#get-started .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
}

.get-started-title {
    margin-top: 0.5em;
}

.get-started-description {
    font-size: 0.82em;
    margin: 1.5em 0;
}

#get-started .max-width img {
    width: 45%;
    height: 10em;
}

.get-started-info {
    max-width: 340px;
    width: 40%;
}

.get-started-button {
    font-size: 0.9em;
    font-weight: 700;
    padding: 1em 2.8em;
    border: 0;
    border-radius: 30px;
    background: #222;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.get-started-button:hover {
    transform: scale(0.95);
}

/* Latest News Section */

#latest-news {
    padding: 3em 0;
}

.news-cards {
    display: flex;
    justify-content: space-between;
}

.news-card {
    width: 32.5%;
}

.news-info {
    width: 100%;
    padding: 2.5em 0 2.5em 2em;
}

.news-image {
    width: 100%;
    height: 15em;
    overflow: hidden;
}

.news-image img {
    transition: 0.4s;
    cursor: pointer;
}

.news-image img:hover {
    transform: scale(1.2);
}

.news-time {
    font-size: 0.8em;
    font-weight: 700;
    color: rgb(168, 158, 158);
    display: flex;
    align-items: center;
    margin-top: 1.5em;
}

.news-title {
    font-size: 1.2em;
}

.news-time i {
    margin-right: 0.7em;
}

#latest-news .subtitle {
    margin-bottom: 2.7em;
}

/* Subscribe Section */

#subscribe {
    font-size: 1rem;
    background: linear-gradient(45deg, rgb(27, 141, 255), rgb(8, 98, 187));
    color: #fff;
    padding: 2em 0;
}


#subscribe .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscribe-info {
    width: 48%;
}

.subscribe-input {
    width: 50%;
    text-align: right;
}

.subscribe-input input {
    font-size: 1em;
    padding: 0.8em 0 0.8em 1em;
    width: 70%;
    background: #2290FF;
    border: 0;
    border-radius: 4px;
    outline: none;
}

.subscribe-input input::placeholder {
    color: #9eceff;
}

.subscribe-title {
    font-size: 1.3em;
}

.subscribe-description {
    font-size: 0.9em;
    margin-top: 0.8em;
    font-weight: 500;
    color: rgb(241, 233, 233);
}

.subscribe-button {
    font-size: 0.8em;
    font-weight: 700;
    padding: 0.8em 3.2em;
    border: 0;
    border-radius: 30px;
    background: #222;
    color: #fff;
    cursor: pointer;
    margin-left: 0.5em;
    transition: 0.5s;
}

.subscribe-button:hover {
    transform: scale(0.95)
}

/* Contact Section */

#contact {
    background: #262F36;
    color: #fff;
    padding: 6em 0;
}

#contact a {
    color: #fff;
}

#contact .row {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.contact-title {
    font-size: 1em;
    margin-bottom: 1.5em;
}

#contact .row .col:not(:first-child) {
    font-size: 0.9em;
    margin-left: 1em;
}

.contact-description {
    font-size: 0.8em;
    max-width: 20em;
}

#contact .row .col ul {
    margin-top: 3em;
}

#contact .row .col ul li {
    font-size: 0.95em;
    font-weight: 700;
    margin-top: 1em;
}

#contact .row .col:nth-child(2) ul li:first-child a {
    color: #2290FF;
}

.contact-page-link {
    cursor: pointer;
}

.contact-page-link ul {
    margin-top: 0 !important;
    padding-left: 1em;
    height: 0;
    overflow: hidden;
}

.contact-page-link ul.active {
    height: 100%;
}

.contact-page-link ul li a {
    color: #fff !important;
}

#contact .row .col:last-child ul li i {
    margin-right: 0.5em;
    color: #0f62b4;
}

.contact-social-icons {
    margin-top: 2.5em;
}

.contact-social-icons i {
    font-size: 1em;
    margin-left: 0.5em;
    padding: 0.5em 0.5em;
    border: 0;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}

.contact-social-icons i:first-child {
    margin-left: 0;
    padding: 0.5em 0.7em;
    background: #3B5998;
}

.contact-social-icons i:nth-child(2) {
    background: #1DA1F2;
}

.contact-social-icons i:nth-child(3) {
    background: #CD201F;
}

.contact-social-icons i:nth-child(4) {
    background: #262626;
}

/* Footer Section */

footer {
    font-size: 1rem;
    background: #399BFF;
    padding: 1em 0;
    color: #fff;
}

footer .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.terms span a {
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}

.terms span a:hover {
    text-decoration: underline;
}

.terms span:first-child a {
    border-right: 1px solid #fff;
    padding-right: 0.5em;
}

.copyright {
    font-size: 0.8em;
    font-weight: 600;
}